{% load static %}
{% load compress %}
{% load project_tags %}

<!-- Copyright 2013 www.egrappler.com Free Bootstrap Responsive Admin Template -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">

        {% compress css %}
            <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
            <link href="{% static 'css/bootstrap-responsive.min.css' %}" rel="stylesheet">
            <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
                    rel="stylesheet">
            <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
            <link href="{% static 'css/style.css' %}" rel="stylesheet">
            <link href="{% static 'css/pages/dashboard.css' %}" rel="stylesheet">
            <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
            <!--[if lt IE 9]>
                  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
                <![endif]-->

            {% block web_theme_css %}{% endblock web_theme_css %}
        {% endcompress %}

        {% block web_theme_head %}{% endblock web_theme_head %}
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                 </a>
                 <h1 style="font-size: 35px; margin-top: 0px; margin-bottom: 0px;" >
                    <a class="brand"  href="{% url 'home_view' %}" style="color: white;"><img src="{% static 'images/word_logo.png' %}" alt="project logo" /></a>
                </h1>

                <div class="nav-collapse">
                <ul class="nav pull-right">
                  <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                    class="icon-cog"></i> Account <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="javascript:;">Admin</a></li>
                      <li><a href="javascript:;">Logout</a></li>
                    </ul>
                  </li>
                </ul>

              </div>
              <!--/.nav-collapse -->
            </div>
            <!-- /container -->
          </div>
          <!-- /navbar-inner -->
        </div>


{% comment %}
        <!-- /navbar -->
        <div class="subnavbar">
          <div class="subnavbar-inner">
            <div class="container">
              <ul class="mainnav">
                <li class="active"><a href="index.html"><i class="icon-dashboard"></i><span>Dashboard</span> </a> </li>
                <li><a href="reports.html"><i class="icon-list-alt"></i><span>Reports</span> </a> </li>
                <li><a href="guidely.html"><i class="icon-facetime-video"></i><span>App Tour</span> </a></li>
                <li><a href="charts.html"><i class="icon-bar-chart"></i><span>Charts</span> </a> </li>
                <li><a href="shortcodes.html"><i class="icon-code"></i><span>Shortcodes</span> </a> </li>
                <li class="dropdown"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-long-arrow-down"></i><span>Drops</span> <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="icons.html">Icons</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                    <li><a href="pricing.html">Pricing Plans</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="signup.html">Signup</a></li>
                    <li><a href="error.html">404</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <!-- /container -->
          </div>
          <!-- /subnavbar-inner -->
        </div>
        <!-- /subnavbar -->
{% endcomment %}

        <div class="main">
          <div class="main-inner">
            <div class="container">

                {% block web_theme_content %}{% endblock web_theme_content %}

            {% comment %}
              <div class="row">
                <!-- /span6 -->
                <div class="span6">
                  <div class="widget">
                    <div class="widget-header"> <i class="icon-bookmark"></i>
                      <h3>Important Shortcuts</h3>
                    </div>
                    <!-- /widget-header -->
                    <div class="widget-content">
                      <div class="shortcuts"> <a href="javascript:;" class="shortcut"><i class="shortcut-icon icon-list-alt"></i><span
                                                class="shortcut-label">Apps</span> </a><a href="javascript:;" class="shortcut"><i
                                                    class="shortcut-icon icon-bookmark"></i><span class="shortcut-label">Bookmarks</span> </a><a href="javascript:;" class="shortcut"><i class="shortcut-icon icon-signal"></i> <span class="shortcut-label">Reports</span> </a><a href="javascript:;" class="shortcut"> <i class="shortcut-icon icon-comment"></i><span class="shortcut-label">Comments</span> </a><a href="javascript:;" class="shortcut"><i class="shortcut-icon icon-user"></i><span
                                                        class="shortcut-label">Users</span> </a><a href="javascript:;" class="shortcut"><i
                                                            class="shortcut-icon icon-file"></i><span class="shortcut-label">Notes</span> </a><a href="javascript:;" class="shortcut"><i class="shortcut-icon icon-picture"></i> <span class="shortcut-label">Photos</span> </a><a href="javascript:;" class="shortcut"> <i class="shortcut-icon icon-tag"></i><span class="shortcut-label">Tags</span> </a> </div>
                      <!-- /shortcuts -->
                    </div>
                    <!-- /widget-content -->
                  </div>
                </div>
                <div class="span6">

                  <!-- /widget -->
                  <div class="widget">
                    <div class="widget-header"> <i class="icon-signal"></i>
                      <h3> Area Chart Example</h3>
                    </div>
                    <!-- /widget-header -->
                    <div class="widget-content">
                      <canvas id="area-chart" class="chart-holder" height="250" width="538"> </canvas>
                      <!-- /area-chart -->
                    </div>
                    <!-- /widget-content -->
                  </div>

                </div>
                <!-- /span6 -->
              </div>
              <!-- /row -->
            </div>
            {% endcomment %}
            <!-- /container -->
          </div>
          <!-- /main-inner -->
        </div>

        <!-- Placed at the end of the document so the pages load faster -->
        {% compress js %}
            <script src="{% static 'packages/jquery/jquery-2.0.3.min.js' %}"></script>
            <script src="{% static 'packages/jquery/jquery-migrate-1.2.1.min.js' %}"></script>
            <script src="{% static 'js/excanvas.min.js' %}"></script>
            <script src="{% static 'js/bootstrap.js' %}"></script>
            <script src="{% static 'js/base.js' %}"></script>
            {% block web_theme_javascript %}{% endblock web_theme_javascript %}
        {% endcompress %}
    </body>
</html>
