{% extends "web_theme_base.html" %}
{% load i18n %}
{% load static %}
{% load menubuilder %}
{% load project_tags %}

{% block web_theme_head %}
    {% block base_keywords %}{% endblock base_keywords %}
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}" />
    <title>{% project_name %}{% block title %}{% endblock %}</title>
{% endblock web_theme_head %}

{% block web_theme_css %}
    <link type="text/css" rel="stylesheet" href="{% static 'packages/novus-nvd3/src/nv.d3.css' %}"/>

    {% block base_stylesheets %}{% endblock base_stylesheets %}
{% endblock web_theme_css %}

{% block web_theme_javascript %}
    <script type="text/javascript" src="{% static 'packages/novus-nvd3/lib/d3.v3.js' %}"></script>
    <script type="text/javascript" src="{% static 'packages/novus-nvd3/nv.d3.js' %}"></script>
    <script type="text/javascript" src="{% static 'packages/novus-nvd3/src/tooltip.js' %}"></script>
    <script type="text/javascript" src="{% static 'packages/novus-nvd3/src/utils.js' %}"></script>
    <script type="text/javascript" src="{% static 'packages/novus-nvd3/src/models/legend.js' %}"></script>
    <script type="text/javascript" src="{% static 'packages/novus-nvd3/src/models/axis.js' %}"></script>
    <script type="text/javascript" src="{% static 'packages/novus-nvd3/src/models/scatter.js' %}"></script>
    <script type="text/javascript" src="{% static 'packages/novus-nvd3/src/models/line.js' %}"></script>
    <script type="text/javascript" src="{% static 'packages/novus-nvd3/src/models/historicalBar.js' %}"></script>
    <script type="text/javascript" src="{% static 'packages/novus-nvd3/src/models/linePlusBarChart.js' %}"></script>
    <script type="text/javascript" src="{% static 'packages/novus-nvd3/src/models/lineWithFocusChart.js' %}"></script>
    <script type="text/javascript" src="{% static 'packages/novus-nvd3/src/models/multiBar.js' %}"></script>
    <script type="text/javascript" src="{% static 'packages/novus-nvd3/src/models/multiBarChart.js' %}"></script>
    <script type="text/javascript" src="{% static 'packages/novus-nvd3/src/models/pie.js' %}"></script>
    <script type="text/javascript" src="{% static 'packages/novus-nvd3/src/models/pieChart.js' %}"></script>
    <script type="text/javascript" src="{% static 'packages/novus-nvd3/src/models/multiBarHorizontal.js' %}"></script>
    <script type="text/javascript" src="{% static 'packages/novus-nvd3/src/models/multiBarHorizontalChart.js' %}"></script>
    {% block base_javascript %}{% endblock base_javascript %}
{% endblock web_theme_javascript %}

{% block web_theme_user_bar %}
    <ul class="nav pull-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-cog"></i>
                {% trans 'User' %}:
                {% if user.is_anonymous %}
                    <span style="font-size:120%;">{% trans "Anonymous" %}</span>
                    <input type="hidden" id="auth_user" value="" />
                {% else %}
                    <span style="font-size:120%;">{{ user }}</span>
                    <input type="hidden" id="auth_user" value="{{ user }}" />
                {% endif %}
                 <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                {% if user.is_staff %}
                    <li><a href="/admin/">{% trans 'Administration' %}</a></li>
                {% endif %}

                {% if user.is_anonymous %}
                    <li><a href="{% url 'login_view' %}">{% trans 'Login' %}</a></li>
                {% else %}
                    <li><a href="{% url 'logout_view' %}">{% trans 'Logout' %}</a></li>
                {% endif %}
            </ul>
          </li>
    </ul>
{% endblock web_theme_user_bar %}

{% block web_theme_menu %}
    <div class="subnavbar">
        <div class="subnavbar-inner">
            <div class="container">
                <ul class="mainnav">
                    <li><a href="{% url 'home_view' %}"><i class="icon-home"></i><span>{% trans 'Home' %}</span> </a></li>

                    {% if node.parent %}
                        <li class="active"><a href="{{ node.parent.get_absolute_url }}"><i class="icon-arrow-up"></i><span>{{ node.parent }}</span> </a> </li>
                    {% endif %}

                    {% block base_menu %}{% endblock base_menu %}

                    <li><a href="{% url 'about_view' %}"><i class="icon-question"></i><span>{% trans 'About' %}</span> </a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock web_theme_menu %}

{% block web_theme_content %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>{{ message }}</strong>
        </div>
    {% endfor %}

    {% block base_content %}{% endblock base_content %}
{% endblock web_theme_content %}
