{% extends "web_theme_base.html" %}
{% load i18n %}
{% load static %}
{% load menubuilder %}
{% load project_tags %}

    {% block web_theme_head %}
        {% block base_keywords %}{% endblock base_keywords %}
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}" />
        <title>{% project_name %}{% block title %}{% endblock %}</title>
    {% endblock web_theme_head %}

    {% block web_theme_css %}
        <link type="text/css" rel="stylesheet" href="{% static 'packages/novus-nvd3/src/nv.d3.css' %}"/>

        {% block base_stylesheets %}{% endblock base_stylesheets %}

        {# Add CSS Debugging #}
        {% if 0 %}
            <style type="text/css">
               *:hover { border:2px solid #ffffff }
               * *:hover { border:2px solid #89A81E }
               * * *:hover { border:2px solid #F34607 }
               * * * *:hover { border:2px solid #5984C3 }
               * * * * *:hover { border:2px solid #CD1821 }
               * * * * * *:hover { border:2px dotted #89A81E }
               * * * * * * *:hover { border:2px dotted #F34607 }
               * * * * * * * *:hover { border:2px dotted #5984C3 }
               * * * * * * * * *:hover { border:2px dotted #CD1821 }
            </style>
        {% endif %}

        <style>
            .navbar-inner { background: #101010; !important; moz-border-radius: 0;}
        </style>
    {% endblock web_theme_css %}

    {% block web_theme_javascript %}
        <script type="text/javascript" src="{% static 'packages/novus-nvd3/lib/d3.v3.js' %}"></script>
        <script type="text/javascript" src="{% static 'packages/novus-nvd3/nv.d3.js' %}"></script>
        <script type="text/javascript" src="{% static 'packages/novus-nvd3/src/tooltip.js' %}"></script>
        <script type="text/javascript" src="{% static 'packages/novus-nvd3/src/utils.js' %}"></script>
        <script type="text/javascript" src="{% static 'packages/novus-nvd3/src/models/legend.js' %}"></script>
        <script type="text/javascript" src="{% static 'packages/novus-nvd3/src/models/axis.js' %}"></script>
        <script type="text/javascript" src="{% static 'packages/novus-nvd3/src/models/scatter.js' %}"></script>
        <script type="text/javascript" src="{% static 'packages/novus-nvd3/src/models/line.js' %}"></script>
        <script type="text/javascript" src="{% static 'packages/novus-nvd3/src/models/historicalBar.js' %}"></script>
        <script type="text/javascript" src="{% static 'packages/novus-nvd3/src/models/linePlusBarChart.js' %}"></script>
        <script type="text/javascript" src="{% static 'packages/novus-nvd3/src/models/lineWithFocusChart.js' %}"></script>
        <script type="text/javascript" src="{% static 'packages/novus-nvd3/src/models/multiBar.js' %}"></script>
        <script type="text/javascript" src="{% static 'packages/novus-nvd3/src/models/multiBarChart.js' %}"></script>
        <script type="text/javascript" src="{% static 'packages/novus-nvd3/src/models/pie.js' %}"></script>
        <script type="text/javascript" src="{% static 'packages/novus-nvd3/src/models/pieChart.js' %}"></script>
        <script type="text/javascript" src="{% static 'packages/novus-nvd3/src/models/multiBarHorizontal.js' %}"></script>
        <script type="text/javascript" src="{% static 'packages/novus-nvd3/src/models/multiBarHorizontalChart.js' %}"></script>
        <script type="text/javascript">

            var global_report_loading = false;

            jQuery.fn.log = function (msg) {
                console.log("%s: %o", msg, this);
                return this;
            };
            $.ajaxSetup({
                cache: true
            });

            function load_and_bind(wrapper, form_name, url) {
                $(wrapper).load(url, function() {
                    $(form_name).submit(function() {
                        return ajax_process(form_name);
                    });
                });
            }

            function ajax_process(form_name) {
                var form = $(form_name);
                var str = form.serialize();
                var path = form.attr('action');
                var wrapper = $('#_wrapper', form).val();
                var next_url = $('#_next_url', form).val();
                var reload = $('#_reload_window', form).val();
                $.ajax({
                    type: "POST",
                    url: path,
                    data: str,
                    success: function(data){
                        $(wrapper).empty();
                        $(wrapper).html(data);
                        //workaround, rebind until .live supports "submit"
                        $(form_name).bind('submit', function() {
                            return ajax_process(form_name);
                        });
                        var validation_error = $(data).find('.errorlist').html();
                        if (validation_error == null) {
                            $('button:submit', this.parent).attr("disabled", "disabled");
                            $.ajax({
                                type: "POST",
                                url: path,
                                data: str,
                                beforeSend: function(){
                                },
                                dataType: "html",
                                error: function(data) {
                                    $('button:submit', this.parent).removeAttr('disabled');
                                },
                                success: function(data){
                                    $('button:submit', this.parent).removeAttr('disabled');
                                    //$("div#panel").slideUp("fast");
                                    //$("#toggle a").toggle();
                                    $(wrapper).load(next_url);
                                    if (reload == '1') {
                                        location.reload();
                                    }
                                    $(form_name).bind('submit', function() {
                                        return ajax_process(form_name);
                                    });
                                }
                            });
                        }
                    }
                });
                return false;
            };

            $(document).ready(function() {
                $().ajaxSend(function(r,s){
                    global_report_loading = true;
                    $("#loading").show();
                });

                $().ajaxStop(function(r,s){
                    global_report_loading = false;
                    $("#loading").fadeOut("fast");
                });

                 $('.ajax-button').click(function() {
                    $(this).parent().parent().hide();
                    if (global_report_loading) {
                        //TODO: use new growl app
                        $('#jgrowl-container').jGrowl("{% trans 'The selected report is being processed, please wait.' %}");
                        return false;
                    }
                    $("#parameters_wrapper").empty();
                    $("#info-panel").hide();
                    $("#chart_wrapper").load($(this).attr('href'));
                    return false;
                });

                $('.report-button').click(function() {
                    var report_num = $(this).attr('href');
                    $(this).parent().parent().hide();
                    if (global_report_loading) {
                        $('#jgrowl-container').jGrowl("{% trans 'The selected report is being processed, please wait.' %}");
                        return false;
                    }
                    $("#chart_wrapper").empty();

                    $("#tab-wrapper").html('<div id="info-panel" style="display: none; font-size: 90%;"><ul></ul></div>');
                    $("#info-panel").tabs();
                    $("#info-panel").show();
                    $("<li><a href='/reports/ajax/report_description/" + report_num + "/'>{% trans 'Description' %}</a></li>").appendTo("#info-panel .ui-tabs-nav");
                    $("<li><a href='/reports/ajax/report_validation/" + report_num + "/'>{% trans 'Validation' %}</a></li>").appendTo("#info-panel .ui-tabs-nav");
                    {% if user.is_staff %}
                        $("<li><a href='/reports/ajax/report/" + report_num + "/benchmarks/'>{% trans 'Benchmarks' %}</a></li>").appendTo("#info-panel .ui-tabs-nav");
                    {% endif %}
                    $("#info-panel").tabs("refresh");
                    $("#info-panel").tabs("option", "active", 0);

                    $("#parameters_wrapper").load("/reports/ajax/filter_form/" + report_num + '/', function() {
                        $("#submit-text").text("{% trans 'Generate results' %}");
                    });
                    $("#current_report").val(report_num);
                    return false;
                });

            });
        </script>
        {% block base_javascript %}{% endblock base_javascript %}
    {% endblock web_theme_javascript %}

{% comment %}
            <div class="content clearfix">
                {% if not user.is_anonymous %}
                    <div class="left right">
                        <h1>{% trans "Logout from aplication?" %}</h1>
                        <form action="{% url 'user_logout' %}" method="post">
                            <input type="submit" name="submit" value="{% trans 'Logout' %}" class="bt_register" />
                        </form>
                    </div>
                {% endif %}

                {% if user.is_anonymous or user.has_usable_password %}
                    <div class="left right">
                        <div id="login_form_wrapper"></div>
                    </div>
                {% endif %}

                {% if not user.is_anonymous %}
                    <div class="left right">
                        <h1>{% trans "User information" %}</h1>
                        <h2>{% trans "User fullname" %}:</h2> {{ user.get_full_name }}
                        <h2>{% trans "Last login" %}:</h2> {{ user.last_login }}
                    </div>
                {% endif %}

                {% if user.is_anonymous %}
                    <div class="left right">
                        <h1>{% trans "Welcome" %}&nbsp;{% project_name %}</h1>
                        <h2>{% trans "Authorized access is required" %}</h2>
                        <p class="grey">{% trans "If you don't have an account, contact your system administrator so that one may be created for you." %}</p>
                    </div>
                {% endif %}

            </div>
        </div>
        <!-- /login -->
        <!-- The tab on top -->

        <div class="tab">
            <ul class="login">
                <li class="left">&nbsp;</li>
                <li id="username_box">
                {% trans 'User' %}:
                {% if user.is_anonymous %}
                    <span style="font-size:120%;">{% trans "Anonymous" %}</span>
                    <input type="hidden" id="auth_user" value="" />
                {% else %}
                    <span style="font-size:120%;">{{ user }}</span>
                    <input type="hidden" id="auth_user" value="{{ user }}" />
                {% endif %}
                </li>
            </ul>
        </div> <!-- / top -->
    </div> <!--panel -->

        <div id="loading">
            {% trans "Loading" %}...<img src="{% static 'images/loading.gif' %}" alt="" width="16" height="16" />
        </div>

        <div id="header"  >
            <!--{% project_name %}-->
            <div style="float:left;">
                <h1 style="text-align: center; font-size: 35px; margin-top: 0px; margin-bottom: 0px;" >
                    <a href="/" style="color: white;"><img src="{% static 'images/word_logo.png' %}" alt="project logo" /></a>
                </h1>
            </div>
            <div style="float:left; margin-top: 30px; margin-left: 30px;">
                <h2><strong>{% trans 'A Web based business intelligence software' %}</strong></h2>
                {% trans 'Copyright (C) 2010 Roberto Rosario' %}
            </div>
        </div> <!-- hd -->

        <div class="navigation">
            <ul class="sf-menu" style="z-index:1;position: relative; margin: 0px; font-size: 95%;">
                <li><a href="#">{% trans "Home" %}</a>
                    <ul>
                        <li><a href="/">{% trans "Main page" %}</a></li>
                        <li><a href="{% url 'about_view' %}">{% trans "About" %}</a></li>
                    </ul>
                </li>

                {% block menu %}
                {% endblock %}

                <!-- Original Menu
                {% get_menu %}
                {% for menu_entry in menuitems_allowed %}
                <li>
                    <a href="#">{{ menu_entry }}</a>
                    <ul>
                        {% for report in menu_entry.reports.all %}
                            {% if report|in_list:reports_allowed %}
                                <li><a class="report-button" href="{{ report.id }}">{{ report }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %} -->

                {% if user.is_staff %}
                    <li><a href="#">{% trans "Configuration" %}</a>
                        <ul>
                            <li><a href="/admin/">{% trans "Administration" %}</a></li>
                        </ul>
                    </li>
                {% endif %}
                {% get_custom_apps %}
                {% for app,app_data in custom_apps_data.items %}
                    {% if app_data.menu_items or app_data.template_data %}
                        <li><a href="#">{{ app_data.menu_title }}</a>
                            {% if app_data.menu_items %}
                            <ul>
                                {% for entry in app_data.menu_items %}
                                    <li><a href="{{ entry }}">{{ entry }}</a></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% if app_data.template_data %}
                                {{ app_data.template_data|safe }}
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
{% endcomment %}

{% block web_theme_content %}
{% comment %}
    {% if messages %}
        <ul id="flashmessages">
            {% for message in messages %}
                <li id="flashmessage"><a href="#" onclick="$(this).parent().fadeOut(); return false;">{% trans "Ok" %}</a>
                    <img src="{% static 'images/internet-group-chat.png' %}" alt="message"/>&nbsp;&quot;{{ message }}&quot;
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endcomment %}

    {% block base_content %}{% endblock base_content %}

{% endblock web_theme_content %}
