body { margin:0; padding:0; background:#fff; color:black; }
body, th, td { font:12px/1.4em Verdana,sans-serif; }
#container { position:relative; min-width:55em; }

#header { position:relative; height:6.0em; background:#fff; display: none; }
#logo { margin:0; padding:0; display: none; }

#js_noscript { display: none; }
.error-message { display: none; }

#footer { display: none; }
#loading { display: none; }

.sf-menu { display: none; }
#menu { display: none; }
#toppanel { display: none; }
#panel { display: none; }

.leftmenu .colleft {
    right: 0px;         /* right column width */
    float: none;
}
.leftmenu .col1 {
    width: 100%;            /* right column content width */
    left: 0px;          /* 100% plus left column left padding */
    float: none;
}
.leftmenu .col2 {
    float: none;
    width: 100%;            /* left column content width (column width minus left and right padding) */
    left: 0px;          /* (right column left and right padding) plus (left column left padding) */
    display: none;
}

 body { background-color: white; color: black; }
.colmask { clear: both; width: 100%; border: 0; margin: 0px; padding: 0;  }

#calculated { display: none; }
