{% extends "base.html" %}


{% block stylesheets %}
    <style>
        .mapdiv {
            width:48%;
            height:100%;
            float:left;
            margin-left:1%;
            margin-right:1%;
            margin-bottom:4.5%;
            color:#666;
            float:left;

        }
        .map {
            width:95%;
            height:100%;
            border:0;
            margin-top:1%;
            margin-left:3%;
            margin-right:3%;
            height:70%;
        }
        svg {
            /*display: block;*/
            /*min-height: 45em;*/
            /*min-width: 50em;*/
            /*padding-bottom: 20px;*/
        }
    </style>
{% endblock %}


{% block javascript %}
    <script type="text/javascript">
         $(document).ready(function() {
            {% for key,value in links.items %}
                {% if "mapdiv" in key %}
                    $("#dashboard").append('<div class="widget"><div class="widget-header"><i class="icon-bookmark"></i><h3>Important Shortcuts</h3></div><div class="widget-content"><div class="mapdiv"><h1 id="{{ key }}">Map</h1><iframe src="{{ value }}" class="map" ></iframe></div></div></div>');
                {% else %}
                    $("#dashboard").append('<div class="widget"><div class="widget-header"><i class="icon-bookmark"></i><h3>Chart</h3></div><div class="widget-content"><div id="test{{ key }}"><div></div>');
                //function rep{{ key }}(){
                $("#test{{ key }}").load("{% url 'home_view' %}{{ value }}");
                //}
                //{% endif %}
            {% endfor %}

            {% comment %}
                {% for sp in selected_reports %}
                    {% if not sp.website.id %}
                        rep{{ sp.id }}();
                        setInterval( rep{{ sp.id }} , {{ sp.refresh_rate }} * 1000 );
                    {% else %}
                        $("#mapdiv{{ sp.id }}").text("{{ sp.website.label }}");
                    {% endif %}
                {% endfor %}
            {% endcomment %}

            window.onresize = function(){
                //var zoom = d3.behavior.zoom();
                //svg.call(zoom.on("zoom", redraw));
            };

         });
    </script>
{% endblock %}

{% block dashboard %}
    <div id="dashboard"></div>
{% endblock %}
