<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <link type="text/css" href="{{ MEDIA_URL }}css/layout.css" rel="stylesheet" media="screen"/>
        <link type="text/css" href="{{ MEDIA_URL }}css/theme_screen.css" rel="stylesheet" media="screen" />
        <link type="text/css" href="{{ MEDIA_URL }}css/theme_print.css" rel="stylesheet" media="print" />
        <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}packages/jquery-ui-1.10.3/themes/smoothness/jquery-ui-1.10.3.custom.css" />
        <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}packages/superfish-1.7.2/css/superfish.css" media="screen" />
        <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}packages/Sliding_login_panel_jquery/css/slide.css" media="screen" />
        <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}packages/jGrowl-1.2.0/jquery.jgrowl.css" media="screen" />
        <link type="text/css" href="{{ MEDIA_URL }}css/artemisMod.css" rel="stylesheet" media="screen"/>

        <script type="text/javascript" src="{{ MEDIA_URL }}packages/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}packages/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}packages/jquery-ui-1.10.3/ui/jquery-ui.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}packages/jquery-corners/jquery.corners.min2.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}packages/superfish-1.7.2/js/hoverIntent.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}packages/superfish-1.7.2/js/superfish.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}packages/superfish-1.7.2/js/supersubs.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}packages/Sliding_login_panel_jquery/js/slide-min.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}packages/jGrowl-1.2.0/jquery.jgrowl_minimized.js"></script>

        <script type="text/javascript">
        	 $(document).ready(function() {
        	 	{% for sp in selected_reports %}
        	 		var fd{{ sp.rep_id.id }} = new Date("{{sp.from_date}}");
        	 		var td{{ sp.rep_id.id }} = new Date("{{sp.to_date}}");

        	 		var from_date{{ sp.rep_id.id }} = ("0" + (fd{{ sp.rep_id.id }}.getMonth() + 1)).slice(-2) + "%2F" + ("0" + fd{{ sp.rep_id.id }}.getDate()).slice(-2) + "%2F" + fd{{ sp.rep_id.id }}.getFullYear();

        	 		var to_date{{ sp.rep_id.id }} = ("0" + (td{{ sp.rep_id.id }}.getMonth() + 1)).slice(-2) + "%2F" + ("0" + td{{ sp.rep_id.id }}.getDate()).slice(-2) + "%2F" + td{{ sp.rep_id.id }}.getFullYear();

        	 		$('#dashboard').append('<div class="chart" id ="{{sp.id}}" style="width:48%; float:left; border: 1px solid; color:grey;" ></div>');


                    function rep{{ sp.id }} (){
					      $('#{{ sp.id }}').load("http://127.0.0.1:8000/reports/ajax/report/{{sp.rep_id.id}}/?regional={{sp.id_regional}}&output_type={{sp.visual_type}}&from_date="+ from_date{{ sp.rep_id.id }} + "&to_date=" + to_date{{ sp.rep_id.id }} );

                            // var param = {% for filter in sp.filtersets.filters.all %}{{ filter.name }} + "," {% endfor %};
                            // $('#{{ sp.id }}').append(param);
                       }

                    setInterval( rep{{ sp.id }}(), ({{ sp.refresh_rate }} * 1000));


        	 	{% endfor %}

        	 });
        </script>
     </head>
     <body style="margin-left:1%; margin-right:1%;">
        <div id="header" >
                <div style="float:left;">
                    <h1 style="text-align: center; font-size: 35px; margin-top: 0px; margin-bottom: 0px;" >
                        <a href="/" style="color: white;"><img src="{{ MEDIA_URL }}images/logo2013.png" alt="project logo" /></a>
                    </h1>
                </div>
        </div>
              </br></br>
              <h1 style="text-align:center;"> {{dash_board.name}} </h1>
              </br></br>
              <div id="count" ></div>
              <div id="dashboard" style="min-width:1200px;"></div>
     </body>
</html>
