
{% extends "base.html" %}
{% load static %}

{% block javascript %}

        <script type="text/javascript">
             $(document).ready(function() {
                $(".colmask").empty();
                $(".colmask").css("overflow-y", "scroll" );
                $(".colmask").append('<div id="dashboard" style="margin:10px"></div>');
                {% for sp in selected_reports %}
                    var fd{{ sp.rep_id.id }} = new Date("{{ sp.from_date }}");
                    var td{{ sp.rep_id.id }} = new Date("{{ sp.to_date }}");

                    var from_date{{ sp.rep_id.id }} = ("0" + (fd{{ sp.rep_id.id }}.getMonth() + 1)).slice(-2) + "%2F" + ("0" + fd{{ sp.rep_id.id }}.getDate()).slice(-2) + "%2F" + fd{{ sp.rep_id.id }}.getFullYear();

                    var to_date{{ sp.rep_id.id }} = ("0" + (td{{ sp.rep_id.id }}.getMonth() + 1)).slice(-2) + "%2F" + ("0" + td{{ sp.rep_id.id }}.getDate()).slice(-2) + "%2F" + td{{ sp.rep_id.id }}.getFullYear();

                    $('#dashboard').append('<div id ="{{ sp.id }}" style="width:48%; float:left; color:white;" ></div>');


                    function rep{{ sp.id }}(){
                          //$('#{{ sp.id }}').load("{% url 'home_view' %}reports/ajax/report/{{sp.rep_id.id}}/?regional={{sp.id_regional}}&output_type={{sp.visual_type}}&from_date="+ from_date{{ sp.rep_id.id }} + "&to_date=" + to_date{{ sp.rep_id.id }} );

                        var param= [{% for filter in sp.filtersets.filters.all %} "{{ filter.name }}", {% endfor %} ];
                        var val = "{{sp.values}}".replace(/\s/g, '');
                        var values = val.split(",");
                        if ( param.length == values.length) {
                            var link = "{% url 'home_view' %}reports/ajax/report/{{ sp.rep_id.id }}/?";
                            for (var i=0; i < param.length; i++){
                                link = link + param[i] + "=" + values[i] + "&";
                            }
                            link = link + "output_type={{ sp.visual_type }}";
                            $('#{{ sp.id }}').load(link);
                        }
                        else {
                            $('#{{ sp.id }}').append("Parameters don't match");
                        }

                    }

                    setInterval( rep{{ sp.id }}(), ({{ sp.refresh_rate }} * 1000));


                {% endfor %}

             });
        </script>
        {% endblock %}

</html>
