{% extends "base.html" %}
{% load i18n %}
{% load project_tags %}
{% block keywords %}
	<meta name="description" content="" />
	<meta name="keywords" content="" />
{% endblock %}
{% block banner %}{% trans 'Home' %}{% endblock %}
{% block stylesheets %}
	<style>
		.col1 {  overflow: auto; }
	</style>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
});
</script>
{% endblock %}


{% block content %}
<div class='tc'>
<!--<img class="homeLogo" src="{{ MEDIA_URL }}images/project_logo_alt.png" alt="project logo" /> -->
<script type="text/javascript">
        var itemList = new Array();
        {% get_root_menu %}
        {% for root in root_menu %}
            itemList.push({title:"{{ root.label }}", icon:"{{ root.icon }}", hyperlink: "get_dash_menu/{{ root.pk }}"});
        {% endfor %}

        $(document).ready(function(e) {
            fillDashMenu(itemList, ".tc");
        });
    </script>
</div>
{% endblock %}

