{% extends "base.html" %}
{% load i18n %}
{% load menubuilder %}
{% block keywords %}
	<meta name="description" content="" />
	<meta name="keywords" content="" />
{% endblock %}
{% block banner %}{% trans 'Home' %}{% endblock %}
{% block stylesheets %}
	<style>
		.col1 {  overflow: auto; }
	</style>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
});
</script>
{% endblock %}


{% block content %}
<div class='tc'>
<!-- <img class="homeLogo" src="{{ MEDIA_URL }}images/project_logo_alt.png" alt="project logo" /> -->
</div>
{% endblock %}

{% block dash_menu %}
<div class="gobDashMenu">
<script type="text/javascript">
        var itemList = new Array();
        {% get_root_menu %}
        {% for i in root_menu %}
            itemList.push({title:"{{ i.label }}", icon:"{{ i.icon }}", hyperlink:"reports/get_dash_menu/{{ i.pk }}"});
        {% endfor %}

        $(document).ready(function(e) {
            fillDashMenu(itemList, ".gobDashMenu");
        });
    </script>
</div>
{% endblock %}