{% extends "base.html" %}
{% load i18n %}
{% block stylesheets %}
    <style>
        .col1 {  overflow: auto; }
    </style>
{% endblock %}

{% block content %}
<div class='gobDashMenu'>
<script type="text/javascript">
        var itemList = new Array();
        {% for node in nodes %}
            itemList.push({title:"{{ node.label }}", icon:"{{ MEDIA_URL }}packages/dashMenu/img/" + "{{ node.icon }}", hyperlink:"{% url 'get_dash_menu' node.pk %}"});
        {% endfor %}

        $(document).ready(function(e) {
            fillDashMenu(itemList, ".gobDashMenu");
        });
    </script>
</div>
{% endblock %}

{% block menu %}
{% for menu in menus %}
<li>
    <a href="#">{{ menu }}</a>
    <ul>
        {% for report in menu.reports.all %}
            <li><a class="report-button" href="{{ report.id }}">{{ report }}</a></li>
        {% endfor %}
    </ul>
</li>
{% endfor %}
{% endblock %}

{% block dash_menu %}
    <a id="{{dash_menu.id}}" href="{% url 'dashboard:index' %}dash_list/{{dash_menu.id}}">{{ dash_menu }} </a> </br>
{% endblock %}